@page "/OnClickEvent"
@using ServerMP1.DTOs
@rendermode InteractiveServer


<h3>OnClickEvent</h3>

@* Playground *@
<div class="col-12 p-4 bg-light">

    <h3>Products Playground</h3>
    <div class="row">
        <div class="col-6 p-4">
            <p>Exercicio 1 - Desconto de 10% em todos os produtos</p>
            <button class="btn btn-warning mb-3" @onclick="ApplydiscountToAll">Aplicar 10% de desconto</button>
            <hr />
            <p>Exercicio 2 - Resetar desconto</p>
            <button class="btn btn-warning mb-3" @onclick="ResetList">Resetar desconto aplicado</button>
        </div>
        <div class="col-6 p-4">
            <p>Exercicio 3 - Aumentar R$10,00 somente da categoria selecionada</p>
            <strong>Category:</strong>
            <select @onchange="SelectedCategory">
                @foreach (var cat in Categories)
                {
                    <option value="@cat">@cat</option>
                }
            </select>
        </div>
    </div>
</div>

@* Summary *@
<div class="col-12 p-4 bg-light">
    <h3>Products Summary</h3>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Category</th>
                <th>Active</th>
                <th>Favoritar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in listProductsDTOs)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Stock</td>
                    <td>@product.CategoryName</td>
                    <td>@(product.IsActive ? "Yes" : "No")</td>
                    <td>
                        <span style="cursor: pointer; font-size: 22px;"
                              @onclick="() => Favoritar(product)">
                            @(product.IsFavorite ? "★" : "☆")
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row">
        <div class="col-6 p-4">
        </div>
        <div class="col-6 p-4">
        </div>
    </div>
</div>

@code {
    private List<ProductDTO> listProductsDTOs = new();

    //Exercicio 1 - desconto
    private void ApplydiscountToAll()
    {
        foreach (var p in listProductsDTOs)
            p.Price = Math.Round(p.Price * 0.9m, 2);
    }



    //Exercicio 3 - aumentar R$10,00
    private void SelectedCategory(ChangeEventArgs e)
    {
        var selectedValue = e.Value?.ToString();

        foreach (var product in listProductsDTOs)
        {
            if (product.CategoryName.Equals(selectedValue, StringComparison.OrdinalIgnoreCase))
            {
                product.Price = Math.Round(product.Price + 10m, 2);
            }
        }
    }

    private List<string> Categories = new()
    {
        "Lanche",
        "Bebida",
        "Sobremesa"
    };

    private void ProductsList()
    {
        //Populando a lista de produtos
        listProductsDTOs = new List<ProductDTO>
        {
            new ProductDTO { Id = 1, Name = "Hambúrguer", Description = "Lanche com Cheddar", UrlImagem="" ,Price = 15.00m, IsActive = true, CategoryName = "Lanche" },
            new ProductDTO { Id = 2, Name = "Refrigerante",Description = "Coca-Cola", UrlImagem="", Price = 5.00m, IsActive = true, CategoryName = "Bebida" },
            new ProductDTO { Id = 3, Name = "Sorvete", Description = "De murango tango", UrlImagem="", Price = 7.00m, IsActive = true, CategoryName = "Sobremesa" }
        };
    }

    //Exercicio 2 - reset
    private void ResetList()
    {
        listProductsDTOs.Clear();
        ProductsList();
    }

    private void Favoritar(ProductDTO product)
    {
        product.IsFavorite = !product.IsFavorite;
    }

    protected override void OnInitialized()
    {
        ProductsList();
    }

}
